<ion-header>
  <ion-navbar color='git'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon id='gitLogo' name="logo-github"></ion-icon>
      <span id='navText'>GitIssue</span>
          <button *ngIf='apiProvider.loggedIn' ion-button (click)='signIn()' clear small float-right>Sign In</button>
              <ion-chip color='black' *ngIf='!apiProvider.loggedIn' float-right>
                  <ion-label>{{ apiProvider.githubUserInfo.login }}</ion-label>
                <ion-avatar>
                 <img [src]="apiProvider.githubUserInfo.avatar_url" >
               </ion-avatar>
              </ion-chip>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
          <ion-searchbar [(ngModel)]='apiProvider.searchRequest' (keypress)="apiProvider.search($event.keyCode)" mode='ios'></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of apiProvider.repos; let i=index" (click)="apiProvider.searchRepoIssues(i)">
          {{ p.name }}
        </button>
      </ion-list>
    </ion-content>
  
  </ion-menu>

<ion-content id='content' padding>

<div id='content-wrapper'>
<ion-card padding>
    <ion-card-title *ngIf='apiProvider.user'>
        {{ apiProvider.user }}/{{ apiProvider.repo }}
      </ion-card-title>
    <ion-item>
      <ion-label>Create a new Issue..</ion-label>
      <ion-textarea id='textArea' (keypress)="onChange($event.keyCode)" [(ngModel)]='apiProvider.textArea' rows="6" cols="20"></ion-textarea>
  </ion-item>
  <ion-item>
    <div id='markdownContainer'>
      <button ion-button class='markdown-buttons' (click)='markdown("### ")' item-right>###</button>
      <button ion-button class='markdown-buttons' (click)='markdown("****")' item-right>****</button>
      <button ion-button class='markdown-buttons' (click)='markdown("__")' item-right>__</button>
      <button ion-button class='markdown-buttons' (click)='markdown(">")' item-right>></button>
      <button ion-button class='markdown-buttons' (click)='markdown("``")' item-right>``</button>
      <button ion-button class='markdown-buttons' (click)='markdown("[](url)")' item-right>[](url)</button>
      <button ion-button class='markdown-buttons' (click)='markdown("- ")' item-right>-</button>
      <button ion-button class='markdown-buttons' (click)='markdown("1. ")' item-right>1.</button>
      <button ion-button class='markdown-buttons' (click)='markdown("@")' item-right>@</button>
      <button ion-button class='markdown-buttons' (click)='markdown("#")' item-right>#</button>
    </div>
    <button [disabled]='!apiProvider.repo' ion-button (click)='apiProvider.postIssue()' item-right>Submit</button>
  </ion-item>
</ion-card>

<div *ngFor="let x of apiProvider.repoIssuesResults; let i = index">
  <ion-card>
          <ion-card-header style='background-color: silver;'>
          <ion-card-title text-wrap>
            {{ x.title }} 
            <span id='issueNumber'>
              #{{ x.number }}
            </span>
          </ion-card-title>
          <span *ngFor="let l of x.labels;">
            <ion-chip float-left>
              <ion-label>{{ l.name }}</ion-label>
          </ion-chip>
          </span>


          <ion-chip *ngIf='x.user' color='git' float-right>
              <ion-label>{{ x.user.login }}</ion-label>
            <ion-avatar>
             <img [src]="x.user.avatar_url" >
           </ion-avatar>
          </ion-chip>
          <div *ngIf='x.assignee'>
            <Div *ngFor='let z of x.assignees'>
              <ion-chip *ngIf='x.user.login != z.login' color='git' float-right>
                  <ion-label>{{ z.login }}</ion-label>
                <ion-avatar>
                 <img [src]="z.avatar_url" >
               </ion-avatar>
              </ion-chip>  
            </Div> 
          </div>
        </ion-card-header>

        <ion-card-content style='white-space: pre-line'>
            {{ x.body }}
        </ion-card-content>
  </ion-card>
</div> 
</div>
</ion-content>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>